.privatePageWrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "navbar content "
    "footer footer ";
}

.navbar {
  grid-area: navbar;
}

.content {
  grid-area: content;
  position: relative;
  height: 100%;
  width: 100%;
  /* overflow-y: auto; */
  /* overflow-y: hidden; */
}

.footer {
  grid-area: footer;
}
